<?xml version="1.0"?>
<!-- Tested with PHPUnit-7.0.2 -->
<phpunit
    bootstrap="./tests/Bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>
    <testsuite name="DoctrineDataFixture Module Tests">
        <directory>./tests/DoctrineDataFixtureTest/Command</directory>
        <directory>./tests/DoctrineDataFixtureTest/Service</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log
            type="coverage-clover"
            target="./clover.xml"
        />
    </logging>
</phpunit>